@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply bg-gradient-to-b from-[#d2f5d0] via-[#e6f7e6] to-[#ffffff];
}
@keyframes spin-slow {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.animate-spin-slow {
  animation: spin-slow 12s linear infinite;
}